@import url(nullstyle.css);
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
}

.sushi__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 58px 28px 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e59090;
}

.sushi__header__logo-img {
  width: 194px;
  height: 24px;
  margin: 0 378px 0 0;
}

.sushi__header__burger-menu {
  display: none;
}

.sushi__header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sushi__header__menu__item {
  margin: 0 48px 0 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}

.sushi__header__search-img {
  width: 30px;
  height: 30px;
}

.first__section {
  background-image: url("b-g_section_1.png");
  height: 796px;
  padding-top: 176px;
}

.first__section__title {
  color: #ffffff;
  font-size: 125px;
  font-weight: 700;
  margin: 0 0 69px 51px;
}

.first__section__txt {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  margin: 0 778px 52px 50px;
}

.first__section__btn {
  display: block;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  width: 322px;
  height: 65px;
  border-radius: 33px;
  background-color: #6db3ab;
  margin: 0 0 154px 56px;
}

.oriental_sushi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 186px 0 0 163px;
  position: relative;
  overflow: hidden;
  height: 800px;
  background-color: #fff;
}

.oriental_sushi__img {
  width: 465px;
  height: 464px;
}

.oriental_sushi__vector1 {
  position: absolute;
  top: -78px;
  left: 0;
}

.oriental_sushi__vector2 {
  position: absolute;
  top: 0;
  left: 497px;
}

.oriental_sushi__vector3 {
  position: absolute;
  top: 525px;
  left: 35px;
}

.oriental_sushi__vector4 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.oriental_sushi__info {
  margin: 54px 0 0 114px;
}

.oriental_sushi__title {
  color: #2fb4ac;
  font-size: 75px;
  font-weight: 700;
  margin: 0 133px 59px 0;
}

.oriental_sushi__txt {
  color: #2fb4ac;
  font-size: 30px;
  font-weight: 400;
  margin: 0 86px 73px 0;
}

.oriental_sushi__btn {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  width: 322px;
  height: 65px;
  border-radius: 33px;
  background-color: #e59090;
}

.special__menu {
  background-color: #e59090;
  height: 796px;
  padding-top: 152px;
  position: relative;
  width: 1440px;
}

.special__menu__vector5 {
  position: absolute;
  top: 71px;
  left: 0px;
}

.special__menu__vector6 {
  position: absolute;
  top: 74px;
  right: 0;
}

.special__menu__title {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  margin: 0 503px 104px 488px;
}

.special__menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special__menu__item:first-child {
  margin-left: 239px;
}

.special__menu__item__title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  margin: 25px 0 27px 50px;
}

.special__menu__item__txt {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin: 0 34px 0 0;
}

.statistics {
  padding-top: 90px;
  position: relative;
  height: 800px;
  background-color: #ffffff;
  overflow: hidden;
}

.statistics__vector6 {
  position: absolute;
  top: 90px;
  left: -13px;
}

.statistics__vector7 {
  position: absolute;
  top: 37px;
  right: 0;
}

.statistics__vector9 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.statistics__vector8 {
  position: absolute;
  bottom: -20px;
  left: -20px;
}

.statistics__title {
  color: #2fb4ac;
  font-size: 62px;
  font-weight: 700;
  text-align: center;
}

.statistics__txt {
  color: #2fb4ac;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin: 48px 373px 90px 365px;
}

.statistics__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.statistics__item {
  position: relative;
  width: 274px;
  height: 275px;
  border: 5px solid #fd9191;
  border-radius: 50%;
}

.statistics__item__number {
  position: absolute;
  color: #2fb4ac;
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  top: 25%;
}

.statistics__item__txt {
  color: #2fb4ac;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.kawaii-sushi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 193px;
  background-color: #6edad4;
  height: 800px;
  overflow: hidden;
}

.kawaii-sushi__title {
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  margin: 54px 0 59px 156px;
}

.kawaii-sushi__txt {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 73px 155px;
}

.kawaii-sushi__btn {
  margin: 0 0 0 140px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  width: 322px;
  height: 65px;
  border-radius: 33px;
  background-color: #fd9191;
}

.kawaii-sushi__img {
  margin: 0 130px 145px 0;
}

.kawaii-sushi__vector1 {
  position: absolute;
  top: -8px;
  right: -9px;
}

.kawaii-sushi__vector2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.takasi {
  background-image: url("Place_Your_Image_Here_(Double_Click_to_Edit)-2.png");
  height: 796px;
  position: relative;
  background-repeat: no-repeat;
  padding-top: 150px;
}

.takasi__pink {
  position: absolute;
  height: 796px;
  width: 100%;
  background-color: #fd9191;
  opacity: 0.6;
  top: 0;
}

.takasi__img {
  position: absolute;
  margin-left: 629px;
}

.takasi__txt {
  position: absolute;
  color: #ffffff;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 49px;
  margin: 291px 207px 0 214px;
  text-align: center;
}

.takasi__name {
  position: absolute;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  margin: 471px 580px 0 570px;
}

.email {
  background-color: #ffe98a;
  height: 800px;
  padding-top: 163px;
  position: relative;
  overflow: hidden;
}

.email__vector12 {
  position: absolute;
  top: 42px;
  right: -70px;
}

.email__vector13 {
  position: absolute;
  bottom: -2px;
  left: -6px;
}

.email__title {
  color: #21243d;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 59px;
}

.email__txt {
  color: #21243d;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: normal;
  margin: 0 282px 84px 285px;
  text-align: center;
}

.email__enter {
  position: relative;
  width: 659px;
  height: 63px;
  border-radius: 32px 31px 31px;
  background-color: #ffffff;
  margin: 0 0 296px 355px;
  opacity: 0.5;
  color: #000000;
  font-size: 25px;
  font-weight: 400;
  padding: 0 29px 0 29px;
}

.email__btn {
  position: absolute;
  width: 222px;
  height: 65px;
  border-radius: 33px;
  background-color: #21243d;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 315px 0 -111px;
}

.footer {
  background-color: #777777;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  padding: 237px 168px 0 94px;
}

.footer__logo {
  margin-bottom: 35px;
}

.footer__txt {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  width: 462px;
  margin-bottom: 35px;
}

.footer__sprait {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 235px;
}

.footer__right__about__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  margin: 0 154px 37px 0;
  display: block;
}

.footer__right__about__item {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 41.76px;
}

.footer__right__sirvices__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  margin: 0 109px 37px 0;
  display: block;
}

.footer__right__sirvices__item {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 41.76px;
}

.footer__right__other__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 37px;
  display: block;
}

.footer__right__other__item {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 41.76px;
}

.footer-mobile {
  display: none;
}

@media (max-width: 575px) {
  .container {
    width: 555px;
    margin: 0 auto;
    width: 100%;
  }
  .sushi__header {
    padding-left: 0;
    padding-right: 0;
    width: 575px;
  }
  .sushi__header__burger-menu {
    z-index: 6;
    display: block;
    position: fixed;
    width: 40px;
    height: 25px;
    cursor: pointer;
    margin: 3px 0 0 480px;
  }
  .sushi__header__logo-img {
    width: 140px;
    height: 20px;
    margin: 0;
    z-index: 10;
    margin-left: 50px;
    position: fixed;
  }
  .sushi__header__menu {
    z-index: 5;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    display: block;
    margin: 0;
  }
  .sushi__header__menu._active {
    left: 0;
  }
  .sushi__header__menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 86px;
    background-color: #e59090;
    height: 50px;
  }
  .sushi__header__menu__item {
    font-size: 25px;
    color: #2fb4ac;
    margin: 0;
    line-height: 50px;
  }
  .sushi__header__menu__item:hover {
    font-size: 26px;
    color: #00b1a5;
  }
  .sushi__header__menu__item:active {
    color: #e59090;
  }
  .sushi__header__search-img {
    display: none;
  }
  .first__section {
    background-image: url("b-g_section_1_mob.png");
    padding-top: 120px;
    height: 600px;
    background-repeat: no-repeat;
    width: 575px;
  }
  .first__section__title {
    color: #ffffff;
    font-size: 62px;
    font-weight: 700;
    margin: 0;
    margin: 0 0 35px 35px;
  }
  .first__section__txt {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin: 0 60px 40px 30px;
  }
  .first__section__btn {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 280px;
    height: 55px;
    border-radius: 33px;
    background-color: #6db3ab;
    margin: 0;
    margin: 0 0 0 25px;
  }
  .oriental_sushi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding: 150px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 600px;
    background-color: #fff;
    width: 575px;
  }
  .oriental_sushi__img {
    width: 200px;
    height: 200px;
    margin: 0 23px 0 35px;
  }
  .oriental_sushi__vector1 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 250px;
    height: 100px;
  }
  .oriental_sushi__vector2 {
    position: absolute;
    top: 0;
    left: 497px;
    display: none;
  }
  .oriental_sushi__vector3 {
    position: absolute;
    top: 345px;
    left: 0px;
  }
  .oriental_sushi__vector4 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
  }
  .oriental_sushi__info {
    margin: 0;
  }
  .oriental_sushi__title {
    color: #2fb4ac;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
  }
  .oriental_sushi__txt {
    color: #2fb4ac;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin: 20px 0 0 0;
  }
  .oriental_sushi__btn {
    color: #ffffff;
    width: 280px;
    height: 55px;
    border-radius: 33px;
    background-color: #e59090;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
  }
  .special__menu {
    background-color: #e59090;
    height: 1283px;
    padding-top: 0;
    position: relative;
    width: 574px;
    padding-top: 50px;
  }
  .special__menu__vector5 {
    position: absolute;
    top: 71px;
    left: 0px;
    display: none;
  }
  .special__menu__vector6 {
    position: absolute;
    top: 74px;
    right: 0;
    display: none;
  }
  .special__menu__title {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  .special__menu__items {
    display: block;
    text-align: center;
  }
  .special__menu__item {
    margin-bottom: 60px;
  }
  .special__menu__item:last-child {
    margin-bottom: 60px;
  }
  .special__menu__item:first-child {
    margin-left: 0px;
  }
  .special__menu__item__title {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    margin: 10px 0 10px 0;
  }
  .special__menu__item__txt {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    margin: 0 100px 0 100px;
  }
  .statistics {
    padding-top: 50px;
    position: relative;
    height: 1283px;
    background-color: #ffffff;
    overflow: hidden;
    width: 575px;
  }
  .statistics__vector6 {
    position: absolute;
    top: 0px;
    left: -195px;
  }
  .statistics__vector7 {
    position: absolute;
    top: 37px;
    right: 0;
    display: none;
  }
  .statistics__vector9 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .statistics__vector8 {
    position: absolute;
    bottom: -20px;
    left: -20px;
    display: none;
  }
  .statistics__title {
    color: #2fb4ac;
    font-size: 62px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }
  .statistics__txt {
    color: #2fb4ac;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin: 0 30px 35px 30px;
  }
  .statistics__items {
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .statistics__item {
    position: relative;
    width: 274px;
    height: 275px;
    border: 5px solid #fd9191;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 150px 40px 150px;
  }
  .statistics__item:last-child {
    margin-bottom: 0;
  }
  .statistics__item__number {
    position: absolute;
    color: #2fb4ac;
    font-size: 65px;
    font-weight: 700;
    top: 25%;
  }
  .statistics__item__txt {
    text-align: center;
    color: #2fb4ac;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
  }
  .kawaii-sushi {
    display: block;
    padding: 0;
    padding: 120px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 575px;
  }
  .kawaii-sushi__vector1 {
    position: absolute;
    top: -8px;
    right: -9px;
    width: 200px;
    height: 150px;
  }
  .kawaii-sushi__vector2 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 150px;
  }
  .kawaii-sushi__img {
    display: none;
  }
  .kawaii-sushi__info {
    margin: 0;
    text-align: center;
    margin: 0 35px 0 35px;
  }
  .kawaii-sushi__title {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
  }
  .kawaii-sushi__txt {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .kawaii-sushi__btn {
    color: #ffffff;
    width: 280px;
    height: 55px;
    border-radius: 33px;
    background-color: #e59090;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 0 -15px;
  }
  .takasi {
    background-image: url("/img/Place_Your_Image_Here_(Double_Click_to_Edit)-2.png");
    height: 680px;
    position: relative;
    background-repeat: no-repeat;
    padding-top: 40px;
    overflow: hidden;
    width: 575px;
  }
  .takasi__pink {
    position: absolute;
    height: 680px;
    width: 100%;
    background-color: #fd9191;
    opacity: 0.6;
    top: 0;
  }
  .takasi__img {
    position: absolute;
    margin: 0;
    margin-left: 170px;
  }
  .takasi__txt {
    position: absolute;
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 49px;
    margin: 0;
    text-align: center;
    margin: 250px 15px 0 15px;
  }
  .takasi__name {
    position: absolute;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    margin: 570px 0 0 170px;
  }
  .email {
    background-color: #ffe98a;
    height: 600px;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
    width: 575px;
  }
  .email__vector12 {
    position: absolute;
    top: 10px;
    right: -100px;
    width: 250px;
    height: 150px;
  }
  .email__vector13 {
    position: absolute;
    bottom: -2px;
    left: -6px;
    width: 250px;
    height: 200px;
  }
  .email__title {
    color: #21243d;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 59px;
  }
  .email__txt {
    color: #21243d;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0 35px 30px 35px;
    text-align: center;
  }
  .email__enter {
    position: relative;
    width: 420px;
    height: 63px;
    border-radius: 32px 31px 31px;
    background-color: #ffffff;
    margin: 0;
    opacity: 0.5;
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    padding: 0 29px 0 29px;
    margin: 0px 35px 0px 35px;
  }
  .email__btn {
    position: absolute;
    width: 140px;
    height: 65px;
    border-radius: 33px;
    background-color: #21243d;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 315px 0 -70px;
  }
  .footer {
    display: none;
  }
  .footer-mobile {
    display: block;
    background-color: #777777;
    width: 575px;
  }
  .footer-mobile__left {
    padding-left: 15px;
  }
  .footer-mobile__logo {
    margin-bottom: 10px;
  }
  .footer-mobile__txt {
    font-size: 15px;
    margin-bottom: 10px;
    padding-right: 15px;
  }
  .footer-mobile__sprait {
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-mobile__sprait__item {
    width: 20px;
  }
  .footer-mobile__sprait__item:last-child {
    margin-bottom: 20px;
  }
  .footer-mobile__right__about {
    padding: 15px 0 15px 15px;
    margin: 0 0 15px 0px;
    border-bottom: 1px solid #000;
    color: #ffffff;
    font-size: 15px;
  }
  .footer-mobile__right__about__item {
    padding-top: 10px;
    margin-bottom: 0px;
    display: block;
    color: #21243d;
  }
  .footer-mobile__right__about__item:hover {
    color: #ffffff;
  }
  .footer-mobile__right__sirvices {
    padding: 0 0 15px 15px;
    margin: 0 0 15px 0px;
    border-bottom: 1px solid #000;
    color: #ffffff;
  }
  .footer-mobile__right__sirvices__item {
    padding-top: 10px;
    margin-bottom: 0px;
    display: block;
    color: #21243d;
  }
  .footer-mobile__right__sirvices__item:hover {
    color: #ffffff;
  }
  .footer-mobile__right__other {
    padding: 0 0 15px 15px;
    margin: 0 0 15px 0px;
    border-bottom: 1px solid #000;
    color: #ffffff;
  }
  .footer-mobile__right__other__item {
    padding-top: 10px;
    margin-bottom: 0px;
    display: block;
    color: #21243d;
  }
  .footer-mobile__right__other__item:hover {
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */